# Week 1 Pandas Pre-Class Work

## copied from Pandas series lesson

In [17]:
import pandas as pd
import numpy as np

In [18]:
# A numpy array
arr = np.random.randn(4) # random values from std normal distribution
print(type(arr))
print(arr, "\n")

# A pandas series made from the previous array
s = pd.Series(arr)
print(type(s))
print(s)

<class 'numpy.ndarray'>
[ 0.53946694  0.26417159 -0.4358321   0.53428562]

<class 'pandas.core.series.Series'>
0    0.539467
1    0.264172
2   -0.435832
3    0.534286
dtype: float64

In [19]:
# A series from a numpy array 
pd.Series(np.arange(3), index=[2023, 2024, 2025])

2023    0
2024    1
2025    2
dtype: int64

In [20]:
# A series from a list of strings with default index
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

In [21]:
# Construct dictionary
d = {'key_0':2, 'key_1':'3', 'key_2':5}

# Initialize series using a dictionary
pd.Series(d)

key_0    2
key_1    3
key_2    5
dtype: object

In [22]:
pd.Series(3.0, index = ['A', 'B', 'C'])

A    3.0
B    3.0
C    3.0
dtype: float64

In [23]:
# Define a series
s = pd.Series([98,73,65],index=['Andrea', 'Beth', 'Carolina'])

# Divide each element in series by 10
print(s /10, '\n')

# Take the exponential of each element in series
print(np.exp(s), '\n')

# Original series is unchanged
print(s)

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Andrea      3.637971e+42
Beth        5.052394e+31
Carolina    1.694889e+28
dtype: float64

Andrea      98
Beth        73
Carolina    65
dtype: int64

In [24]:
s > 70

Andrea       True
Beth         True
Carolina    False
dtype: bool

In [25]:
# Series with NAs in it
s = pd.Series([1, 2, np.nan, 4, np.nan])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [26]:
# Check if series has NAs
s.hasnans

True

In [27]:
s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

## Check-in section

In [12]:
# The integer number -999 is often used to represent missing values. Create a pandas.Series named s with four integer values, two of which are -999. The index of this series should be the the letters A through D

In [28]:
s = pd.Series([6, -999, 4, -999])
s.index = ['a','b','c', 'd']
s

a      6
b   -999
c      4
d   -999
dtype: int64

In [32]:
s = s.mask(s == -999)
s

a    6.0
b    NaN
c    4.0
d    NaN
dtype: float64

## Copied from Pandas Data Frames Lesson

In [33]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

# Create data frame
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

In [34]:
# Change index
df.index = ['a','b','c']
df

   col_name_1  col_name_2
a           0         3.1
b           1         3.2
c           2         3.3

## Check-in Section

In [35]:
df.columns = ["C1", "C2"]

In [36]:
df

   C1   C2
a   0  3.1
b   1  3.2
c   2  3.3

## Summary of Pandas Lesson

There are different ways to change dictionaries and series, including adding numbers, changing the index, and changing column names. 

In the check-in sections, we used certain parameters to change -999 to N/As. We also used .columns to really easily change the column names

a dataframe is a dictionary of series

series -> data frames
series -> dictionaries