# Subsetting

Review core methods to select data from a `pandas.DataFrame`

## Read in CSV

To read in a csv file into our python workplace as a `pandas.DataFrame` we use `pandas.read_csv` function:

In [3]:
import pandas as pd

# read in file, argument is the file path as a string
df = pd.read_csv('~/meds/eds-220/eds220-2024-in-class/data/wetlands_seasonal_bird_diversity.csv')

In [5]:
# Print df's column names
df.columns

Index(['year', 'CSM_winter', 'CSM_spring', 'CSM_fall', 'MUL_winter',
       'MUL_spring', 'MUL_fall', 'SDW_winter', 'SDW_spring', 'SDW_fall',
       'TJE_winter', 'TJE_spring', 'TJE_fall'],
      dtype='object')

In [6]:
# List the data types of each column
df.dtypes

year            int64
CSM_winter    float64
CSM_spring    float64
CSM_fall      float64
MUL_winter    float64
MUL_spring    float64
MUL_fall      float64
SDW_winter    float64
SDW_spring    float64
SDW_fall      float64
TJE_winter    float64
TJE_spring    float64
TJE_fall      float64
dtype: object

In [7]:
# Print df's shape: output is tuple (# rows, # columns)
df.shape

(14, 13)

## Selecting a single column

Simplest case: select a single column by column name

general syntax:
```python
df[`column_name`]
```

This is an example of **label-based subsetting**, which means we want to select data from our df using the *names* of the columns, not their position

### example
select number of bird species observed at Mugu Lagoon in spring

In [10]:
# Select a single column by using square brackets
mul_spring = df['MUL_spring']

mul_spring

# if you select the columns, the output is a series

0      NaN
1     52.0
2     58.0
3     58.0
4     52.0
5     50.0
6     48.0
7     54.0
8     54.0
9     52.0
10     NaN
11    55.0
12    55.0
13    59.0
Name: MUL_spring, dtype: float64

In [11]:
# Confirm the type of output
print(type(mul_spring))

<class 'pandas.core.series.Series'>

Recall: we can think of a `pandas.DataFrame` as a dictionary of its columns.
Then we can access a single column using the column name as the *key*, just like we would in a dictionary:

`df['column_name']`

We can also do label-based subsetting of a single column using attribute syntax:

df.column_name

**Favor `df[column_name]` instead of df.column_name

why?

- `df['column_name']` avoids conflicts with `pd.DataFrames` methods and attributes. For example, if `df` has a column named `count`, it's ambiguous whether `pd.count` is referring to the `count()` method or the `count` column
- `df[column_name]` can only take column name
- `df.column` only works if the column name has no spaces or special characters


## Selecting multiple columns...

### ... using a list of column names

Select multiple columns in a single call by passing a list of column names to square brackets `[]`

```python
df[['col1', 'col2', 'col100']]
```

Notice the "double square brackets". This is because we are passing the list of names `['col1, col2, col100']` to select the selection brackets `[]`.

## Check-in

Is this label based or location based?

### Example

In [13]:
# select columns with names 'TJE_winter' and 'TJE_fall'
tje_wf = df[['TJE_winter', 'TJE_fall']]
tje_wf

    TJE_winter  TJE_fall
0          NaN      81.0
1         67.0       NaN
2         70.0      69.0
3         69.0      64.0
4         60.0      62.0
5         73.0      64.0
6         76.0      58.0
7         72.0      57.0
8         66.0      55.0
9         63.0      50.0
10        54.0      54.0
11        53.0      51.0
12        60.0      60.0
13        60.0      38.0

In [14]:
print(type(tje_wf))

<class 'pandas.core.frame.DataFrame'>

### ... using a slice

To select a slice of the columns we will use a special case of **`loc` selection**. General syntax:
```python
df.loc[:, "column_start": "column_end"]
```

`column_start` and `column_end` = the starting and ending points of the column slice we want to subset from the data frame

Notice:

- the first value passed to `loc` is used for selecting rows, using a colon `:` as the row selecton parameter means "select all the rows"

- the slice of the resulting data frame includes both endpoints of the slice

In [18]:
# Select column between 'CSM_winter' and 'MUL_fall'
csm_mul = df.loc[:, 'CSM_winter': 'MUL_fall']

## Selecting rows...

### ...using a condition
to select rows that satisfy a particular condition the general syntax is 
```python
df[condition_on_rows]
```
The `condition_on_rows` can be many things, let's see some usual scenarios

### example

We are interested in data after 2020

In [20]:
# Select all rows with year > 2020
post_2020 = df[df['year'] > 2020]
post_2020

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

condition for our rows = `df['year]' > 2020`
this is a `pandas.Series` with boolean values (`True` or `False`) indicating which rows satisfy the condition year > 2020

In [22]:
# Check the type of df['year'] > 2020
print(type[df['year'] > 2020])

# print the boolean series
df['year'] > 2020

type[0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13     True
Name: year, dtype: bool]

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13     True
Name: year, dtype: bool

When we pass such a series of boolean values to the selection bracket `[]` we keep only the rows that correspond to a `true` value

## check-in

Get the subset of the data frame on which the San Dieguito Wetland has at least 75 species recorded during spring

In [29]:
species_75 = df[df['SDW_spring'] >= 75]

In [30]:
species_75

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

KeyError: 'species_75'